
@{
    ViewBag.Title = "Contact Me";
}

<h1>@ViewBag.Title</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <address>
                Email: dpark543107@gmail.com <br />
                Linkedin: David <br />
                Github: David <br />
            </address>
        </div>
    </div>
</div>

