
@{
    ViewBag.Title = "Portfolio";
}

<h1>@ViewBag.Title</h1>
<p>@ViewBag.Message</p>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <h1><a href="https://davidpark2.github.io/project1/index.html">Chess</a></h1>
            <p>Technologies Used: HTML, CSS, JavaScript, jQuery, Skeleton</p>
            <p>Objective: To make a lightweight chess application that you can play with your friends anywhere.</p>
        </div>
        <div class="col-sm-12 col-lg-6">
            <h1><a href="https://weatherbuddy.herokuapp.com/">Weather Buddy</a></h1>
            <p>Technologies Used: Sinatra, Sequel, SQLite 3, REST Client, HTML 5, CSS, Ruby, BCrypt, Postgres</p>
            <p>Objective: Make and application that allows users to log-in and follow the weather forecasts of multiple cities. This can be used by anybody who is interested in knowing the current and next day's forecast for a particular city.</p>
        </div>
        <div class="col-sm-12 col-lg-6">
            <h1><a href="http://narwhals-whowhatwhereclient.herokuapp.com/">WHO/WHAT/WHERE</a></h1>
            <p>Technologies Used: Node, Express, MongoDB, React, AJAX, Bcrypt, HTML, CSS, Less, JavaScript, jQuery</p>
            <p>Objective: The application built is a crowd sourcing service for users who want to share details about their day/night, as well as users who are looking to make plans based on what is going on in their city! Participants can make short lived posts, photos and comments attached to certain locations to share what they are doing. Other users can then search the interactive map to see pins at each location. Whether they are looking for the hottest night club, or a cool dive bar, users can click each location to see what posts have been made that night.</p>
        </div>
    </div>
</div>
